# Exclude log files
*.log

# Omit the data files
data/*

# Exclude text files 
*.txt
*.bib

# Exclude figures
figs/
*.png
*.eps
*.html

# Python cache
*.pyc
*__pycache__*
*.ipynb_checkpoints/*
*.pyx

# Vim files
*.swp
tags

