# Exclude log files
*.log

# Omit the data files
data/*
data

# Exclude text files 
*.txt
*.bib

# Exclude figures
figs/
*.png
*.eps
*.html

# Python cache
*.pyc
*__pycache__*
*.ipynb_checkpoints/*
*.pyx

# Vim files
*.swp
tags


# Omit ssub generated batch submit scripts
batchsub_vslq_readout_*
!batchsub_vslq_readout_tests
!batchsub_vslq_readout_tests_post
